# See http://help.github.com/ignore-files/ for more about ignoring files.

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.m2/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.history/*
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

### DEV-INF ###
build/
DEV-INF/
dist/
docs/
logs/
tmp/
zip/
.backup/
**/.env
.env
.env.backup
configs.dev-inf.json
